body {
    background-color: #222;
    font-family: 'Cinzel', serif;
    /* Use a D&D-style font */
    font-size: 16px;
    /* Increase the font size for better readability */
}

#text {
    background-color: #222;
    color: #fff;
    padding: 20px;
    /* Increase padding for better spacing */
    font-size: 18px;
    /* Increase text size */
}

#game {
    max-width: 600px;
    /* Slightly wider game area */
    max-height: 400px;
    background-color: #1a1a1a;
    /* Darker background color */
    color: #fff;
    margin: 30px auto 0px;
    padding: 20px;
    /* Increase padding for better spacing */
}

#controls,
#stats {
    border: 2px solid #444;
    /* Darker border color */
    padding: 10px;
    color: #ccc;
    margin-bottom: 10px;
    /* Add some space between controls and stats */
}

#monsterStats {
    display: none;
    border: 2px solid #444;
    padding: 10px;
    color: #fff;
    background-color: #c70d0d;
}

.stat {
    padding-right: 15px;
    /* Slightly more spacing between stats */
}

button {
    cursor: pointer;
    color: #222;
    background-color: #feac32;
    background-image: linear-gradient(#fecc4c, #ffac33);
    border: 3px solid #feac32;
    font-size: 16px;
    /* Increase button text size */
    padding: 8px 15px;
    /* Increase button padding for better appearance */
}

/* Include a Google Font for a D&D-style font */
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');